<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="student1" class="com.practice.model.Student">
        <property name="rollNo" value="1"></property>
        <property name="name" value="Rishabh"></property>
        <property name="marks" value="56"></property>
    </bean>
    <bean id="student2" class="com.practice.model.Student">
        <property name="rollNo" value="2"></property>
        <property name="name" value="Rishi"></property>
        <property name="marks" value="32"></property>
    </bean>
    <bean id="result" class="com.practice.services.Result"></bean>


</beans>